@{
    ViewBag.Title = "About - THE BIRYANI CORNER ";
}


<h2>@ViewBag.Title.</h2>

<head>
    <style>
        body{
            background-color:#00A4CCFF;
        }
        .outlet {
            text-align: left;
            background-color: blanchedalmond;
            width: 600px;
            border: 20px solid #ffd800;
            padding: 50px;
            margin: 20px;
        }
    </style>
</head>
<body>
    <div style="text-align:justify"><b>
    The Biriyani Corner opened its first outlet in the year 2000 and has grown from a single shop selling 10 Kgs of Biriyani to 25 modern outlets preparing other delectable Indian cuisine. Currently have upwards of 1000 walk-in's daily and sell more than a ton of biriyani daily.
    Aasife Biriyani, was started by Aasife Ahmed and through sheer hard work and an uncompromising attitude towards quality and service, the brand has been built to become one of Chennai most popular biriyani restaurants.
    Right from the beginning, he always emphasized on taste and ensured that the Biriyani made at his Centre was both delicious and unique. This was achieved and still is, by meticulous selection of ingredients prepared from quality masala products and the Biriyani was prepared using superior quality rice.
    The unswerving nature and mouthwatering taste of Aasife Biriyani can be attributed to the fact that all the ingredients were prepared by Aasife, taste are of high quality and prime importance, and because of this our brand of Biriyani and other food products have attained popularity in St. Thomas Mount & Pallavaram.
    Aasife Biryani Centre has been delighting people from the Bachelors to the Family for the last 14 years and the journey goes on!!!
</b> </div>

    <center>
        <div class="outlet">
            <center>
                <b>The Biryani Corner OutLets:</b></center>
                <br />
                <b> KARAPAKKAM </b>
                Old Mahapalipuram Road, Opp. Aravind Theater
                Karapakkam, Chennai - 600 097.
                Contact No: 9384009846 Timing : 11.30am to 3.30pm to 6.30pm to 12.00am
                <br />
                <b> SEMMENCHERRY</b>
                Old Mahapalipuram Road, Opp.to Sathyabama University
                Semmencherry, Chennai - 600 119.
                Contact No: 9962665654 / 9384009845 Timing : 11.30am to 3.30pm to 6.30pm to 12.00am
                <br />
                <b> THORAIPAKKAM </b>
                Plot No. 3 & 4, West Wing, 200 Feet Radial Link Road, Vinayaganagar, Thoraipakkam, Chennai – 600 097. Contact No: 04448567483 / 9384009847 Timing : 11.30am to 3.30pm to 6.30pm to 12.00am
                <br />
                <b>VELACHERY</b>
                No.55C, Sankaran Avenue, Velachery Bypass Road, Indira Gandhi Nagar, Velachery, Chennai – 600 042. Contact No: 04448654880/81, 9384009848 Timing : 11.30am to 3.30pm to 6.30pm to 5.00am
</div>
    </center>

    <center>
        <div><b>
    OPENING HOURS
            <br />
    MON-FRI
    12 Midnight - 5 AM, 11.30 AM - 3.30 PM,
    6.30 PM - 12 Midnight

    SAT-SUN
    12 Midnight - 5 AM, 11.30 AM - 12 Midnight
</b>
        </div>
    </center>
</body>