@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<head>
    <style>
   @*     body {
            background-color: #00A4CCFF;
            
        }*@

        .outlet {
            text-align: left;
            background-color: blanchedalmond;
            width: 600px;
            border: 20px solid #ffd800;
            padding: 50px;
            margin: 20px;
        }
    </style>
</head>
<body background="~/Content/bbb.jpg">
    <center>
        <div class="outlet">
            <div style="text-align:left">
                <b>To Contact Super Admin:</b>

                <br />
                Name: Babu <br />
                Phone Number: 9442155318<br />
                <strong>Email:</strong>   <a href="mailto:babuj@gmail.com">babuj@gmail.com</a><br />
            </div>

            <div style="text-align:right">
                <b>To Contact the developer of the page:</b>

                <br />
                Name: Geetha <br />

                <strong>Email:</strong>   <a href="mailto:geethabsp07@gmail.com">geethabsp07@gmail.com</a><br />
                <strong>Address:</strong>
                <address>
                    Kanini Solutions<br />
                    Sholinganallur,Chennai-600100<br />
                    <abbr title="Phone">Contact Number:</abbr>
                    9894712411
                </address>
            </div>

        </div>
    </center>

    <center>
        <div>
            <b>
                OPENING HOURS
                <br />
                MON-FRI
                12 Midnight - 5 AM, 11.30 AM - 3.30 PM,
                6.30 PM - 12 Midnight

                SAT-SUN
                12 Midnight - 5 AM, 11.30 AM - 12 Midnight
            </b>
        </div>
    </center>
</body>